
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        [src]="transform(produit.photo)"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2">
                      <h6 class="text-black"> {{produit.nom}} </h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex" *ngIf="test">
                      <button class="btn btn-link px-2" type="button"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()" (click)="upDate(produit,quantity)">
                        <i class="bi bi-dash-circle-fill"></i>
                      </button>
                      <input id={{produit.id}} min="1" #quantity value="1" type="number"
                        class="form-control form-control-sm" readonly/>

                      <button class="btn btn-link px-2" type="button"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()" (click)="upDate(produit,quantity)">
                        <i class="bi bi-plus-square-fill"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">{{produit.prix}} FCFA</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <input type="checkbox"  [id]="produit.id" (input)="isChecked($event)">
                    </div>
                  </div>
